AWS_ACCESS_KEY_ID=your-aws-access-key-id       
AWS_SECRET_ACCESS_KEY=your-aws-secret-key     
POSTGRES_PASSWORD=your-db-password            


AWS_S3_BUCKET_NAME=leon-s3-demo-bucket
AWS_S3_REGION=us-east-1

POSTGRES_DB=leonforge
POSTGRES_USER=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
SECRET_KEY=super-secret-key

ADMIN_API_TOKEN=5c102b1b4675e67f86edee51a1a7d87f65625f84

DEBUG=True
# DEBUG=False
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

# ip_public_id=54.236.222.177 from ec2 remember has to be included aboved
